<%- include('../partials/header.ejs') %>

    <nav id="login" style="height: 78vh; margin-bottom: 90px; padding-top: 70px;">
        <div class=" card ">
            <h1>Add Sub Category</h1>
            <form class=" " action="/admin/createSubCategory?categoryId=<%= categoryId %>" method="POST">
                <div>
                    <label for="sub_cat">Sub Category</label>
                    <input type="text" name="sub_cat" id="sub_cat" required />
                    <!-- <input type="hidden" name="categoryId" value="<%= categoryId %>"> -->
                </div>
                <button type="submit" class="btn btn-outline-warning">Add Sub Category</button>
                <a href="/admin/categories" class="btn btn-outline-secondary">Back</a>
            </form>
        </div>
    </nav>

    <%- include('../partials/footer.ejs') %>