<%- include('../partials/header.ejs') %>

  <main style="height: 78vh;">

    <h1>Test Image Upload</h1>

    <img src="/images/<%= path %>" alt="<%= path %>" class="bd-placeholder-img card-img-top p-4" width="100%" height="350" >

    <a href="/admin/products" class="btn btn-outline-secondary">Back</a>

  </main>

<%- include('../partials/footer.ejs') %>