<%- include('../partials/header.ejs') %>

<main>
  <% if (errorMessage) { %>
     <div class="user_message user_message_error"><%= errorMessage %></div>
  <% } %>
  <div class="mx-2">
    <form action="/cashier/pendingOrders" method="POST">
        <label for="paymentStatus" class="mt-2">Search Id:</label>
        <input type="text" name="orderId" id="orderId">
      <button type="submit" class="btn btn-outline-secondary my-1">Search</button>
    </form>
  </div>
  <br />

    
    <table class="table table-striped table-hover">
      <tr>
        <th>Order Id</th>
        <th>Ordered by</th>
        <th>Date Created</th>
        <th>Total Price</th>
        <th>Payment Option</th>
        <th>Payment Status</th>
        <th>Actions</th>
      </tr>

     </table>



  <a href="/cashier/dashboard" class="btn btn-outline-warning">Back</a>


</main>

<%- include('../partials/footer.ejs') %>
